alembic==1.13.2
blinker==1.8.2
click==8.1.7
colorama==0.4.6
Flask==3.0.3
Flask-Migrate==4.0.4  
Flask-SQLAlchemy==3.1.1
greenlet==3.0.3
gunicorn==22.0.0
itsdangerous==2.2.0
Jinja2==3.1.4
Mako==1.3.5
MarkupSafe==2.1.5
mysqlclient
mysql-connector-python==8.0.17
packaging==24.1
python-dotenv==1.0.1
schedule==1.2.2
SQLAlchemy==2.0.31
typing_extensions==4.12.2
waitress==3.0.0
Werkzeug==3.0.3
Flask-Cors
flask_wtf
# openai
#tensorflow==2.17.0
# torch
librosa==0.10.0.post2 
opencv-python==4.8.0.74
Pillow==9.5.0
matplotlib==3.8.0  
numpy==1.24.4
pytz
Flask-Login
pymysql==1.1.1
contourpy==1.2.1
distro
PyMySQL==1.0.2