/* Footer.css */
.footer {
  background-color: #95adc8;
  color: #fff; /* Improved contrast */
  padding: 10px 0;
  width: 100%;
  z-index: 1000;
  position: fixed;
  bottom: 0;
  left: 0; /* Ensure full width */
  text-align: center;
  will-change: transform; /* Helps with rendering issues */
  margin-top: 100px;
}


/* Ensure adequate padding at the bottom for content */
.list-group,
.content-container {
  padding-bottom: 60px; /* Footer height consideration */
}
